img{
  width: 100%;
  height: auto;
  display: block;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.post{
  border: 0.125em solid #1CC3BC;
  border-radius:  10px;
  padding: 1.5em;
  margin: 1em auto;
  word-wrap: break-word;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #222133;
}

hr{
  border: 0.125em solid #1CC3BC;
  width: 50%;
}

div.img-container{
  padding: 20px;
 
}

p.parrafoTexto:first-child{
  text-indent: 2em;

}