<div class="container-fluid navBar">
  <nav class="container">
    <ul class="d-flex justify-content-between">
      <li class="text-light p-2"> <a class="btn btn-info" [ngClass]="{'disabled' : !categoriaMostrada}"
          (click)="filtrarCategoria(false)">Todo</a>
      </li>
      <li class="text-light p-2" *ngFor="let categoria of arrayCategorias"> <a class="btn btn-info"
          [ngClass]="{'disabled' : categoriaMostrada === categoria}"
          (click)="filtrarCategoria(categoria)">{{categoria}}</a>
      </li>
    </ul>
  </nav>
</div>
<div class="container blogPosts d-flex flex-wrap">
  <div class="post text-light" *ngFor="let post of arrayMostrado" [routerLink]="'/blog/' + post.id">
    <div class="background">
      <h3 class="text-center">{{post.titulo}}</h3>
      <hr>
      <div class="row justify-content-between">
        <div class="imgContainer col-lg-6">
          <img src="{{post.imagen}}">
          <p class="mb-0">Categoría: {{post.categoria}}</p>
          <p>{{post.fecha | date: 'fullDate'}}</p>
        </div>
        <div class="col-lg-6">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint soluta, laudantium possimus rem
            dolor neque.
          </p>
          <p>~{{post.autor}}</p>
        </div>
      </div>
    </div>

  </div>
</div>