div.navBar {
  padding: 2em;
 
}


dl, ol, ul {
  list-style-type: none;
  max-width: 600px;
  margin: auto auto 0;
}

@media(max-width: 740px){
  ul{
    max-width: 300px;
  }

}

img{
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgContainer{
  padding: 2em;
}

.post{
  border: 0.125em solid #1CC3BC;
  padding: 1.5em;
  border-radius: 10px;
  margin: 1em auto;
  width: 100%;
  word-wrap: break-word;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #222133;

}





hr{
  border: 0.125em solid #1CC3BC;
  width: 50%;
}

.blog-text{
  text-indent: 2em;
  
}

