<div class="container mt-5 mb-5">
  <div *ngIf="postPublicado" class="alert alert-success alert-dismissible fade show mt-4" role="alert">
    <p>{{postPublicado}}</p>
  </div>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value)">
    <div class="form-group">
      <label>Titulo del Post</label>
      <input class="form-control" type="text" name="titulo" formControlName="titulo">
      <p class="text-danger" *ngIf="formulario.get('titulo').hasError('required') && formulario.get('titulo').touched">
        Este campo es obligatorio!</p>
      <p class="text-danger" *ngIf="formulario.get('titulo').hasError('minlength') && formulario.get('titulo').touched">
        El título debe contener al menos 2 caracteres.</p>
    </div>
    <div class="form-group">
      <label>Autor</label>
      <input class="form-control" type="text" name="autor" formControlName="autor">
    </div>
    <div class="form-group">
      <label>imagen</label>
      <input class="form-control" type="text" name="imagen" formControlName="imagen">
      <p class="text-danger" *ngIf="formulario.get('imagen').hasError('pattern') && formulario.get('imagen').touched">
        Debes introducir un Url de imagen válido</p>
    </div>
    <div class="form-group">
      <label>Categoría</label>
      <select class="form-control w-50" name="categoria" formControlName="categoria">
        <option value="">elige una categoria</option>
        <option [value]="categoria" *ngFor="let categoria of categorias">{{categoria}}</option>
      </select>
      <p class="text-danger"
        *ngIf="formulario.get('categoria').hasError('required') && formulario.get('categoria').touched">
        Este campo es obligatorio!</p>
    </div>
    <div class="form-group">
      <label>Texto del Posts</label>
      <textarea class="form-control" formControlName="texto" rows="10"></textarea>
      <p class="text-danger" *ngIf="formulario.get('texto').hasError('required') && formulario.get('texto').touched">
        Este campo es obligatorio!</p>
      <p class="text-danger" *ngIf="formulario.get('texto').hasError('minlength') && formulario.get('texto').touched">
        El Post debe contener al menos 10 caracteres.</p>
    </div>
    <input [disabled]="!formulario.valid" class="btn btn-info" type="submit" value="Subir Post">
  </form>
</div>